{% extends "main.html" %}

{% block title %}
 - Admin Tools
{% endblock %}

{% block scripts %}
<style>
	h2
	{
		margin-top:0;
	}
</style>
{% endblock %}

{% block content %}
<div class="block">
    <div class="section">
        <a href="/admin/postNews">
			<img src="/assets/items/598.png">
		</a>
        <div class="text">
			<br><br>
            <h2><a href="/admin/postNews">Post News</a></h2>
            <p>Post news or edit existing news.</p>
        </div>
    </div>
    <hr>
    <div class="section">
        <a href="/admin/user_management">
			<img src="/assets/items/447.png">
		</a>
        <div class="text">
			<br><br>
            <h2><a href="/admin/user_management">User Management</a></h2>
            <p>Probate or ban a user/ip. Also quickly delete items, votes, and comments by a troublesome user.</p>
        </div>
    </div>
    <hr>
    <div class="section">
        <a href="/admin/flagged">
			<img src="/assets/items/354.png">
		</a>
        <div class="text">
			<br><br>
            <h2><a href="/admin/flagged">Flagged Items</a></h2>
            <p>See which items have been reported.</p>
        </div>
    </div>
    <hr>
    <div class="section">
        <a href="/admin/miss_bomb">
			<img src="/assets/items/46.png">
		</a>
        <div class="text">
			<br><br>
            <h2><a href="/admin/miss_bomb">Miss Bomb Deletion</a></h2>
            <p>This is why we can't have nice things.</p>
        </div>
    </div>
</div>
{% endblock %}
