<form method="POST" action="/submit_report">
	Please select the reason you are reporting this item:<br>
	{% csrf_token %}
	
	<input type="hidden" name="item" value="{{items.0.id}}">
	<br>
	<select name="reason">
		<option value="duplicate">Duplicate Submission</option>
		<option value="junk">Junk Submission</option>
		<option value="aup">Submission Policy Violation (Racist/Homophobic/Etc)</option>
		<option value="other">Other</option>
	</select>
	<br><br>
	And give any notes that might be relevant.<br>(Such as a link to the original item if this is a duplicate)
	<br><br>
	<textarea name="explanation" style="width:80%;height:80px;"></textarea>
	<br><br>
	<input type="submit" class="tf2button" value="Report Submission">
</form>