{% extends "main.html" %}

{% block title %}
 - Miscellaneous
{% endblock %}

{% block scripts %}
<style>
	h2
	{
		margin-top:0;
	}
</style>
{% endblock %}

{% block content %}
<div class="block">
	<div class="section">
		<a href="/item-data">
			<img src="/assets/items/389.png" href="/item-data">
		</a>
		<div class="text">
			<br><br>
			<h2><a href="/item-data">Item Data</a></h2>
			<p>A table of all the items that can be used on tf2tags and their qualities.</p>
		</div>
	</div>
	<hr>
	<div class="section">
		<a href="/awards">
			<img src="/assets/items/423.png">
		</a>
		<div class="text">
			<br><br>
			<h2><a href="/awards">Awards</a></h2></a>
			<p>View the most prestigious submissions, both recently, and of all time.</p>
		</div>
	</div>
	<hr>
	<div class="section">
		<a href="/credits">
			<img src="/assets/items/167.png">
		</a>
		<div class="text">
			<br><br>
			<h2><a href="/credits">Credits</a></h2>
			<p>Because I couldn't have done this all alone.</p>
		</div>
	</div>
</div>
{% endblock %}
