{% extends "main.html" %}

{% block title %}
 - Profile
{% endblock %}

{% block content %}
<div class="block">
	<div style="text-align:center">
		<div class="itemFrame">
			<div style="margin-top:10px;margin-left:10px;">
				<div style="width:128px;display:table-cell;height:128px;margin-left:10px;">
					<img src="{{stats.avatar}}" style="margin-left:32px;margin-top:32px">
				</div>
				
				<div style="width:471px;display:table-cell;text-align:center;vertical-align:middle;">
					<span class="tf2{% if stats.admin %} Community{%else%} Strange{%endif%}">{{stats.rank}} {{stats.name}}</span>
					<br>
					<span class="tf2b">
						Points: {{stats.points}}<br>
						Total Submissions: {{stats.submissions}}<br>
						Submissions Today: {{stats.today}} / {{stats.max}}<br>
						<a href="/browse-{{stats.steamID}}">Submissions</a> &bull;
						<a href="{{stats.profile}}">Steam Profile</a> &bull;
						<a href="https://backpack.tf/profiles/{{stats.steamID}}">Backpack</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}